body{
    margin: 0px;
    background-image: url(file:///C:/Users/t%C3%BCrkan%C9%99/OneDrive/Desktop/Ders/img/l.jpg);
}
.AA{
    height: 150px;
 min-width: 740px;
 background-image: url(file:///C:/Users/t%C3%BCrkan%C9%99/OneDrive/Desktop/Ders/img/p.jpg);
 font-size: 50px;
 padding-left: 500px;
 transition:0.7s;
}
.AA:hover{
height: 200px;
background-image: url(file:///C:/Users/t%C3%BCrkan%C9%99/OneDrive/Desktop/Ders/img/u.jpg);
}
.A{
    height: 150px;
 min-width: 740px;
 background-image: url(file:///C:/Users/t%C3%BCrkan%C9%99/OneDrive/Desktop/Ders/img/y.jpg);
 font-size: 50px;
 padding-left: 500px;
 transition: 0.7s;
}
.A:hover{
height: 200px;
background-image: url(file:///C:/Users/t%C3%BCrkan%C9%99/OneDrive/Desktop/Ders/img/q.jpg);
}
a{
    color: whitesmoke;
 }
 a:hover{
    color: black;
}